<div class="header-holder">
    <a href="{{ site.baseurl }}/" class="logo">
        <img src="{{ site.baseurl }}/images/logo-with-name.svg" alt="ENFORS engineering for startups!">
    </a>
    <div>
        <nav class="main-nav">
            <ul class="nav">
                {% if page.home %}
                <li><a href="#">Home</a></li>
                <li><a href="#section-3">Services</a></li>
                <li><a href="#section-4">Why ENFORS?</a></li>
                <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
                <li><a href="#section-7">Contact us</a></li>
                {% else %}
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/index.html#section-3">Services</a></li>
                <li><a href="{{ site.baseurl }}/index.html#section-4">Why ENFORS?</a></li>
                <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
                <li><a href="{{ site.baseurl }}/index.html#section-7">Contact us</a></li>
                {% endif %}
            </ul>
            <img class="lang" src="{{ site.baseurl }}/images/EN.png" alt="English">
        </nav>
        <a href="#" class="nav-opener">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
</div>
