---
layout: default
---

<main id="main" class="blog">
    <div id="section-1">
        <div class="my-jumbotron parallax-holder">
            <img class="parallax-img" src="{{ site.baseurl }}/images/dots.svg" width="1423" height="801" alt="infinity image">
            <div class="my-container">
                <div class="carousel-slider">
                    <div>
                        <div class="header-holder">
                            <a href="#" class="logo">
                                <img src="{{ site.baseurl }}/images/logo-with-name.svg" alt="ENFORS engineering for startups!">
                            </a>
                            <div>
                                <nav class="main-nav">
                                    <ul class="nav">
                                        <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
                                        <li><a href="{{ site.baseurl }}/index.html/#section-3">Services</a></li>
                                        <li><a href="{{ site.baseurl }}/index.html/#section-4">Why ENFORS?</a></li>
                                        <li><a href="{{ site.baseurl }}/blog.html">Blog</a></li>
                                        <li><a href="{{ site.baseurl }}/index.html/#section-7">Contact us</a></li>
                                    </ul>
                                    <img class="lang" src="{{ site.baseurl }}/images/EN.svg" alt="English">
                                </nav>
                                <a href="#" class="nav-opener">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>
                        </div>
                        <div>
                            <h2 class="title h1">STARTUP ENGINEERING</h2>
                            <h2 class="title h1">BLOG</h2>
                            <img class="dot-img" src="{{ site.baseurl }}/images/dot.svg">
                        </div>
                        <div class="text-box">
                            <p>Let's learn and share.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{content}}

</main>

<script src="{{ site.baseurl }}/js/blog.js"></script>