<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ENFORS</title>
	<link href="https://fonts.googleapis.com/css?family=Lato%7CPoppins:400,500,600,700%7CRubik%7CKanit%7CHeebo" rel="stylesheet">
	<link media="all" rel="stylesheet" href="css/main.css">
	<link rel="icon" href="images/logo.png">
	<script>window.jQuery || document.write('<script src="js/jquery-3.3.1.min.js" defer><\/script>')</script>
	<script src="js/jquery.main.js" defer></script>
	<script src="js/send-request.js" defer></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136591006-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-136591006-1');
	</script>
</head>
<body>
	<div id="wrapper">

		{{content}}
		
		<div id="footer">			
			<div class="footer-top">
				<div class="container">
					<div class="left-part-mobile">
						<a href="#" class="logo">
							<img src="images/logo-with-name.svg" alt="ENFORS engineering for startups!">
						</a>					
						<p>www.enfors.tech</p>
						<p>Copyright &copy;ENFORS. Engineering for Startups. 2019</p>
					</div>
					<!-- <div class="right-part-mobile">
						<p>Subscribe to our news</p>
						<input id="subscribtion-email" type="text" placeholder="e-mail">
						<button class="btn btn-default">Subscribe</button>
					</div> -->
					<div style="clear: both;"></div>
					<div class="bottom-part-mobile">
						<div class="left-part">
							<a href="#" class="logo">
								<img src="images/logo-with-name.svg" alt="ENFORS engineering for startups!">
							</a>					
						</div>
						<div class="right-part">
							<p>Copyright &copy;ENFORS. Engineering for Startups. 2019</p>
						</div>
						<div style="clear: both;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</htmblogbody>
<Blogl>