<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Lato%7CPoppins:400,500,600,700%7CRubik%7CKanit%7CHeebo" rel="stylesheet">

	{% if page.blog %}
	<link media="all" rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
	<link media="all" rel="stylesheet" href="{{ site.baseurl }}/css/blog.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	{% endif %}

	<link media="all" rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
	
	<link rel="icon" href="{{ site.baseurl }}/images/logo.png">
	<script>window.jQuery || document.write('<script src="{{ site.baseurl }}/js/jquery-3.3.1.min.js" defer><\/script>')</script>
	<script src="{{ site.baseurl }}/js/jquery.main.js" defer></script>

	{% if page.blog == false %}
	<script src="{{ site.baseurl }}/js/send-request.js" defer></script>
	{% endif %}

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136591006-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-136591006-1');
	</script>

	{% if page.blog %}
	<!-- defer loading of font and font awesome -->
	<noscript id="deferred-styles">
		<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	</noscript>
	{% endif %}

	{% if page.post %}
	<script>
		var jcEnforsTheme = {
			buttons: {
			primaryColor: 'black',
			primaryBgColor: '#FFA800',
			primaryColorAlt: '#FFA800',
			secondaryColor: '#595959',
			secondaryBgColor: '#333',
			secondaryColorAlt: '#135784',
			disabledBgColor: '#D3D3D3',
			},
			text: {
			primaryColor: '#333',
			primaryColorAlt: '#135784',
			secondaryColor: '#595959',
			secondaryColorAlt: '#135784',
			},
			borderColor: '#dedede',
			backgroundColor: 'white',
			outlineStyle: '2px dotted #595959',
			avatar: {
			borderRadius: '50%',
			backgroundColor: '#D3D3D3',
			color: 'grey',
			},
		}
		</script>
	{% endif %}

</head>
<body>

	<div id="wrapper">

		{{content}}
		
		<div id="footer">			
			<div class="footer-top">
				<div class="my-container">
					<div class="left-part-mobile">
						<a href="{{ site.baseurl }}/" class="logo">
							<img src="{{ site.baseurl }}/images/logo-with-name.svg" alt="ENFORS engineering for startups!">
						</a>					
						<p>www.enfors.tech</p>
						<p>Copyright &copy; ENFORS 2019. Kyiv, Ukraine</p>
						<p>Kyiv, Ukraine</p>
					</div>
					<!-- <div class="right-part-mobile">
						<p>Subscribe to our news and blog posts</p>
						<input id="subscribtion-email" type="text" placeholder="e-mail">
						<button class="btn btn-default">Subscribe</button>
					</div> -->
					<div style="clear: both;"></div>
					<div class="bottom-part-mobile">
						<div class="left-part">
							<a href="{{ site.baseurl }}/" class="logo">
								<img src="{{ site.baseurl }}/images/logo-with-name.svg" alt="ENFORS engineering for startups!">
							</a>					
						</div>
						<div class="right-part">
							<p>Copyright &copy; ENFORS 2019. Kyiv, Ukraine</p>
						</div>
						<div style="clear: both;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</htmblogbody>
<Blogl>